{% extends 'base.html'%}
{% load static %}

{% block content %}
{% block title %}-تغيير كلمة السر{% endblock %}
  <!-- start signup -->

  <div class="container">
    <div class="row sign "> 
      <h2 class="locationTitile">تغيير كلمة السر</h2>
      <div class="col-12">
        
            <section class="signing_up">
              <form method="POST" novalidate>
                {% csrf_token %}

                {% include 'includes/form.html' %}

                   <button type="submit" class="btn btn-primary btn-block mt-3 mb-3">تغيير</button>

              </form>
              
              
            </section>       
          
      </div>
 
    </div>
 </div>
</section> 
</div> 
  <!-- end signup -->


  <!-- end signin -->
  {% endblock %}
