{% extends 'base.html'%}
{% load static %}

{% block content %}
{% block title %}-تغيير كلمة السر{% endblock %}
  <!-- start signup -->

  <div class="container">
    <div class="row sign "> 
      <h2 class="locationTitile">تم تغيير كلمة السر بنجاح</h2>
      <div class="col-12">
        
            <section class="signing_up">
                <div class="alert alert-primary" role="alert">
                   !تم تغيير كلمة السر
                </div>
                <a href="{% url 'index' %}" class="btn btn-primary btn-block mt-3 mb-3">العوده للصفحه الرئيسيه</a>

            </section>       
          
      </div>
 
    </div>
 </div>
</section> 
</div> 
  <!-- end signup -->


  <!-- end signin -->
  {% endblock %}
