{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.css'%}">
    <link rel="shortcut icon" href="{% static 'img/iconPng.png'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>الحجازي -منتجاتنا </title>
  </head>
  <body>



<!-- start navbar -->
<div id="nav"> 
  <nav class="navbar navbar-expand-lg navbar-light navStats" id="myNavPar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img id="myNav" style="height: 10%;" src="{% static 'img/iconPng.png'%}" alt="https://scontent.fcai19-3.fna.fbcdn.net/v/t1.0-9/90920033_2946051038954751_1350012425629335552_n.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=JN4VbDodgoUAX_ZRgcF&_nc_oc=AQl0tMJ-2zuo78tLT2ZID2ZA-OfVrvRzdZxI9I-KRvVVD6ouFUR4p2azbQUxqvMeNc0&_nc_ht=scontent.fcai19-3.fna&oh=d7e632b737a30b5ffe57ae640e412c31&oe=5F888927"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
            {% if '/' == request.path %}
              class="nav-link ACT" 
            {% else %}  
              class="nav-link"
            {% endif %}   

             aria-current="page" href="{% url 'index' %}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              الصفحه الرئيسية
            </a>
          </li>
          <li class="nav-item dropdown">
            <a 
            {% if 'products' in request.path%}
               class="nav-link dropdown-toggle ACT" 
            {% else %}
               class="nav-link dropdown-toggle"    
            {% endif %}
            
            href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              منتجاتنا
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </a>
           
            <ul class="dropdown-menu list" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" id="dropDown1" href="{% url 'products' %}"><span></span>جميع المنتجات</a></li>
              <div class="dropdown-divider"></div>


              {% for pro in products %}


              <li><a class="dropdown-item" id="dropDown1" href="{% url 'pro_child' pro_id=pro.id %}"><span></span>{{ pro.name }}</a></li>
             
              {% endfor %}

            </ul>
           
          </li>
          <li class="nav-item">
            <a
             {% if 'location' in request.path %}
               class="nav-link ACT" 
             {% else %}
               class="nav-link"   
             {% endif %}
             
             href="{% url 'location' %}">فروعنا
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
            {% if 'signin' in request.path or 'signup' in request.path or 'profile' in request.path%}
              class="nav-link dropdown-toggle ACT maxDD" 
            {% else %}
             class="nav-link dropdown-toggle maxDD" 
            {% endif %} 
             
             href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
             {%if user.is_authenticated%}
             <i class="fas fa-user-circle fa-lg"></i>     
             {%else%}
               تسجيل   
             {%endif%}
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </a>
            <ul class="dropdown-menu list" aria-labelledby="navbarDropdownMenuLink">
           {%if user.is_authenticated%}
  

                    <li><a class="dropdown-item"  href="">حسابي<span></span></a></li>
                    <li><a class="dropdown-item"  href="">تغيير كلمة السر<span></span></a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item"  href="{% url 'logout' %}">تسجيل خروج<span></span></a></li>

              
           {%else%}
              <li><a class="dropdown-item" id="dropDown8" href="{% url 'signin' %}">تسجيل الدخول<span></span></a></li>
              <li><a class="dropdown-item" id="dropDown9" href="{% url 'signup' %}">إنشاء حساب<span></span></a></li>
           {%endif%}
            </ul>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'search_result' %}" id="my_form">
          <input  name="searchname" class="form-control me-2" type="search" placeholder="ابحث هنا" aria-label="Search">
          <a class="btn" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;"><i class='fas fa-search'></i></a>
          <a href="https://www.facebook.com/elhegazi" target="_blank" class="btn btn2" type="submit"><i class="fab fa-facebook-f"></i></a>
        </form>
      </div>
      
    </div>
  </nav>
 </div>
  
<!-- end navbar -->

<div class="accordion myProduct" id="accordionExample">
  <a href="{% url 'index' %}" class="pro_arrow PRO2_arrow"><i class="fas fa-home"></i></a>
    <h2 class="accordionTitle">منتجاتنا</h2>
     <section>

 {% for pro in products %}

     <div class="card">
      <div class="card-header" id="headingOne">
        <span class="span"></span>
        <span class="span"></span>
        <span class="span"></span>
        <span class="span"></span>
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" >
            <a class="linkColor" href="{% url 'pro_child' pro_id=pro.id %}">{{ pro.name }}</a>
          </button>
        </h2>
        <span class="product-button">اضغط لعرض المنتجات</span>
      </div>
     </div>
     
 {% endfor %}
    
<!-- end accordion collapse -->
    </section> 
</div>
 
      <!-- start footer -->
      <footer class="mt-2" id="contactUs">
        <div class="row mainFooter">
        <div class="col-6">
          <div class="underNavTittle">منتجاتنا</div>
          <nav class="navProduct">
           <ul class="ulProduct">

            {% for pro in products %}


            <li class="nav-item">
              <a class="nav-link" href="{% url 'pro_child' pro_id=pro.id %}" id="dropDown1x">{{ pro.name }}</a>
            </li>
           
           {% endfor %}

           </ul>
          </nav>
        </div>
          <div class="col-6">
            <div class="comunication mr-3">
              <div class="mb-2 comunicationTittle" id="comunication-Tittle">تواصل معنا</div>
              <span>01025109080</span><i class="fas fa-phone ml-2"></i>
              <br>
              <span>01009663365</span><i class="fas fa-phone ml-2"></i>
            </div>
            <div class="social-media mb-2">مواقع التواصل الاجنماعي</div>
            <div class="social-media-links">
              <a class="linkColor" target="_blank" href="https://www.facebook.com/elhegazi"><span class="facebook">facebook.com/elhegazi</span><i class="fab fa-facebook-square ml-2"></i></a>
              <br>
              <span>01025109080</span><i class="fab fa-whatsapp ml-2"></i>
              <br>
              <span>01009663365</span><i class="fab fa-whatsapp ml-2"></i>
              
            </div>
          </div>
        </div>
        <div class="row copyright ">
          <div class="col-12 col-lg-6">
            <div class="myCopyRight">Copyright &#9400; 2021 Elhegazy.All Rights Reserved</div>
          </div>
          <div class="col-12 col-lg-6 mySign">
            By Mahmoud Hegazy <a class="linkColor" target="_blank" href="https://www.facebook.com/medo.hagaze/"><span class="facebook"></span><i class="fab fa-facebook-square ml-2"></i></a>
            
          </div>
        </div>
      </footer>
        <!-- end footer  -->

      <!-- srart arrow -->
      <a href="#nav" ><div class="arrow-bg" ><i class="fas fa-arrow-up "></i></div></a>

      <!-- end arrow -->

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
  </body>  
</html>        



